@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  /* font-size: 25px; */
  font-size: 2rem;
  line-height: 30px;
  color: #2b283a;
}

.text {
  color: #2b283a;
  font-size: 1.1rem;
}
